body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    min-width: 100vw;
}
img{
    height: 150px;
    width: 150px;
}
.screen{
   width: 100vw;
   display: flex;
   justify-content: space-around;
}

h2{
    margin-bottom: 5rem;
}

button{
    margin:2rem
}